SUMO_opt.flow
[{"id":"1e769c53.dc1804","type":"tab","label":"Flow 1"},{"id":"a8de5d69.d096a","type":"inject","z":"1e769c53.dc1804","name":"start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["7431c7c4.4c1b18"]]},{"id":"ff40fd9e.8e027","type":"debug","z":"1e769c53.dc1804","name":"stdout","active":true,"console":"false","complete":"true","x":610,"y":80,"wires":[]},{"id":"4b81000e.e9e77","type":"debug","z":"1e769c53.dc1804","name":"stderr","active":true,"console":"false","complete":"true","x":610,"y":120,"wires":[]},{"id":"7431c7c4.4c1b18","type":"function","z":"1e769c53.dc1804","name":"format_msg","func":"\n//msg.payload = \"MOSBO('/home/ewine/sumo-toolbox/samplesValues.txt', [5,6]);\";\nmsg.payload = \"MOSBO('/home/mmehari/samplesValues.txt', [5,6]);\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["1cb05f64.ece301"]]},{"id":"1cb05f64.ece301","type":"MATLABd","z":"1e769c53.dc1804","matlabd":"matlabd","name":"","x":460,"y":100,"wires":[["ff40fd9e.8e027"],["4b81000e.e9e77"]]}]