SUMO_opt.flow
[{"id":"61ba89c2.db0a68","type":"tab","label":"Flow 1"},{"id":"fab39531.e788c8","type":"inject","z":"61ba89c2.db0a68","name":"start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["1129942c.da607c"]]},{"id":"c0c6ebc0.fed5d8","type":"debug","z":"61ba89c2.db0a68","name":"stdout","active":true,"console":"false","complete":"true","x":610,"y":80,"wires":[]},{"id":"3b197a12.7d8d96","type":"debug","z":"61ba89c2.db0a68","name":"stderr","active":true,"console":"false","complete":"true","x":610,"y":120,"wires":[]},{"id":"1129942c.da607c","type":"function","z":"61ba89c2.db0a68","name":"format_msg","func":"\nmsg.payload = \"MOSBO('/home/ewine/samplesValues.txt', [5,6]);\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["3115ef53.2f13f"]]},{"id":"3115ef53.2f13f","type":"MATLABd","z":"61ba89c2.db0a68","matlabd":"matlabd","name":"","x":460,"y":100,"wires":[["c0c6ebc0.fed5d8"],["3b197a12.7d8d96"]]}]
