SUMO_opt.flow
[{"id":"a8de5d69.d096a","type":"inject","z":"63515252.13d9bc","name":"start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["7431c7c4.4c1b18"]]},{"id":"ff40fd9e.8e027","type":"debug","z":"63515252.13d9bc","name":"stdout","active":true,"console":"false","complete":"true","x":590,"y":80,"wires":[]},{"id":"4b81000e.e9e77","type":"debug","z":"63515252.13d9bc","name":"stderr","active":true,"console":"false","complete":"true","x":590,"y":120,"wires":[]},{"id":"7431c7c4.4c1b18","type":"function","z":"63515252.13d9bc","name":"format_msg","func":"\nmsg.payload = [{\"filename\" : \"/home/ewine/sumo-toolbox/samplesValues.txt\"}];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["ac33cb43.b206e8"]]},{"id":"ac33cb43.b206e8","type":"SUMO","z":"63515252.13d9bc","matlabd":"matlabd","name":"","x":450,"y":100,"wires":[["ff40fd9e.8e027"],["4b81000e.e9e77"]]}]
